[changelog]
header = """
# Changelog

All notable changes to this project will be documented in this file.
"""

body = """
{# -------------- Changelog -------------- #}\
\n{{ self::version_header() }}\
{{ self::commits() }}\
{{ self::new_contributors() }}\

{# --------------- Version --------------- #}\

{# Version header #}\
{%- macro version_header() -%}
	{% if version %}\
		# [{{ version | trim_start_matches(pat="v") }}]({{ self::compare_version_url() }}) - {{ self::version_release_date() }}
	{% else %}\
		# [Unreleased]
	{% endif %}\
{%- endmacro -%}

{# URL to comapre against previous version #}\
{%- macro compare_version_url() -%}
	{% if previous %}\
		{% if previous.version %}\
			{{ self::remote_url() }}/compare/{{ previous.version }}...{{ version }}\
		{% else %}\
			{{ self::remote_url() }}/tree/{{ version }}\
		{% endif %}\
	{% endif %}\
{%- endmacro -%}

{# Version release date #}\
{%- macro version_release_date() -%}
	({{ timestamp | date(format="%Y/%m/%d") }})\
{%- endmacro -%}

{# --------------- Commits --------------- #}\
{%- macro commits() -%}
	{# Group commits by type #}\
	{% for type, commits in commits | group_by(attribute="group") %}
		{# Commit type #}\
		## {{ type | striptags | trim }}
		{{ self::unscoped_commits( commits=commits ) }}\
		{{ self::commit_scopes( commits=commits ) }}\
	{% endfor %}\
{%- endmacro -%}

{%- macro unscoped_commits(commits) -%}
	{% for commit in commits %}\
		{% if not commit.scope %}\
			{{ self::commit_entry(commit=commit) }}
		{% endif %}\
	{% endfor %}\
{%- endmacro -%}

{%- macro commit_scopes(commits) -%}
	{% for scope, commits in commits | group_by(attribute="scope") %}
		{# Commit scope #}\
		### {{ self::scope_name( scope_name=scope ) }} \
		{% for commit in commits %}
			{{ self::commit_entry( commit=commit ) }}\
		{% endfor %}
	{% endfor %}
{%- endmacro -%}

{# Scope name #}
{%- macro scope_name( scope_name ) -%}
	{% if scope_name == "readme" %}[`README.md`]({{ self::remote_url() }}/blob/main/README.md)\
	{% elif scope_name == "license" %}[`LICENSE.md`]({{ self::remote_url() }}/blob/main/LICENSE.md)\
	{% elif scope_name == "changelog" %}[`CHANGELOG.md`]({{ self::remote_url() }}/blob/main/CHANGELOG.md)\
	{% elif scope_name == "code of conduct" %}[`CODE_OF_CONDUCT.md`]({{ self::remote_url() }}/blob/main/CODE_OF_CONDUCT.md)\
	{% elif scope_name == "commit convention" %}[`COMMIT_CONVENTION.md`]({{ self::remote_url() }}/blob/main/COMMIT_CONVENTION.md)\
	{% elif scope_name == "contributing" %}[`CONTRIBUTING.md`]({{ self::remote_url() }}/blob/main/CONTRIBUTING.md)\
	{% elif scope_name == "ai usage" %}[`AI_USAGE.md`]({{ self::remote_url() }}/blob/main/AI_USAGE.md)\
	{% else %}{{ scope_name | title }}\
	{%- endif %}
{%- endmacro -%}

{# Commit entry #}
{%- macro commit_entry( commit ) -%}
	- {{ self::commit_header( commit=commit ) }}: {{ commit.message }} {{ self::commit_id( commit=commit ) }} {{ self::commit_author( commit=commit ) }}{{ self::commit_breaking( commit=commit ) }}
{%- endmacro -%}

{# Commit ID #}
{%- macro commit_id( commit ) -%}
	([{{ commit.id | truncate(length=7, end="") }}]({{ self::remote_url() }}/commit/{{ commit.id }}))
{%- endmacro -%}

{# Commit author #}
{%- macro commit_author( commit ) -%}
	{% if commit.github.username %}by @{{ commit.github.username }}\
	{% else %}by @{{ commit.author.name }}\
	{%- endif %}
{%- endmacro -%}

{%- macro commit_header( commit ) -%}
	{{ commit.raw_message | split( pat=": " ) | first }}\
{%- endmacro -%}

{# Breaking commit #}
{%- macro commit_breaking( commit ) -%}
	{% if commit.breaking %}\
		{% for footer in commit.footers %}\
			{% if footer.breaking %}\
				\n{% raw %}  {% endraw %}- **{{ footer.token }}{{ footer.separator }}** {{ footer.value }}\
			{% endif %}\
		{% endfor %}\
	{% endif %}
{%- endmacro -%}

{# ---------- New contributors ----------- #}\
{%- macro new_contributors() -%}
	{% if github.contributors | filter(attribute="is_first_time", value=true) | filter(attribute="pr_number") | length %}\
	\n### New Contributors\n
	{% for contributor in github.contributors | filter(attribute="is_first_time", value=true) %}\
		- @{{ contributor.username }} made their first contribution in #{{ contributor.pr_number }}
	{% endfor %}\
{% endif %}\
{%- endmacro -%}

{# -------------- Constants -------------- #}\
{%- macro remote_url() -%}
	https://github.com/{{ remote.github.owner }}/{{ remote.github.repo }}
{%- endmacro -%}
"""
trim = true

[git]
conventional_commits = true
filter_unconventional = true
require_conventional = false
split_commits = false
commit_parsers = [
	{ message = "^feat", group = "<!-- 0 -->Added" },
	{ message = "^fix", group = "<!-- 1 -->Fixed" },
	{ message = "^refactor", group = "<!-- 2 -->Refactored" },
	{ message = "^style", skip = true },
	{ message = "^perf", group = "<!-- 3 -->Performance" },
	{ message = "^translations", group = "<!--4 -->Translations" },
	{ message = "^tests", group = "<!-- 5 -->Testing" },
	{ message = "^build", skip = true },
	{ message = "^ops", skip = true },
	{ message = "^chore", group = "<!-- 6 -->Chore" },
	{ message = "^merge", skip = true },
	{ message = "^revert", skip = true },
	{ message = "^docs", group = "<!-- 7 -->Documentation" },
]
protect_breaking_commits = true
filter_commits = false
fail_on_unmatched_commit = false
tag_pattern = "v[0-9].*"

ignore_tags = ""
topo_order = false
sort_commits = "newest"

[bump]
features_always_bump_minor = true
breaking_always_bump_major = true
custom_minor_increment_regex = "initial commit"
initial_tag = "0.0.1"

[remote.github]
owner = "TrigamDev"
repo = "exists"
