name: Publish Package

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  workflow_run:
    workflows:
      - Tests
      - Lint
    types:
      - completed

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      
      - run: npm ci
      - run: npm run build --if-present
      - run: npm publish